.hud {
    display: none;
}

.top { position: relative; float: left; width: 100%; height: 65px; }

.top-menu-bar { background-image: url("../img/top-interface/top-menu-bar.png"); position: relative; float: left; width: 100%; height: 28px; }
.top-menu-name { background-image: url("../img/top-interface/top-menu-name01.png"); position: relative; width: 168px; height: 27px; margin: 0 auto; }
.top-menu-center-box { position: relative; margin: 0 auto; width: 404px; }
.top-menu-center { position: relative; width: 202px; height: 35px; float: left; top: -10px; z-index: -1; }
.top-menu-center-l { background-image: url("../img/top-interface/top-menu-center-l.png"); }
.top-menu-center-r { background-image: url("../img/top-interface/top-menu-center-r.png"); }
.top-menu-center-down { background-image: url("../img/top-interface/top-menu-center-down.png"); position: relative; width: 152px; height: 35px; top: 24px; margin: 0 auto; }

.top-menu-gradient-bar { position: relative; float: left; height: 26px; width: 50%; z-index: -1; background-image: linear-gradient(left , rgba(26,0,0,0.5) 18%, rgba(145,134,134,0.5) 70%); background-image: -o-linear-gradient(left , rgba(26,0,0,0.5) 18%, rgba(145,134,134,0.5) 70%); background-image: -moz-linear-gradient(left , rgba(26,0,0,0.5) 18%, rgba(145,134,134,0.5) 70%); background-image: -webkit-linear-gradient(left , rgba(26,0,0,0.5) 18%, rgba(145,134,134,0.5) 70%); background-image: -ms-linear-gradient(left , rgba(26,0,0,0.5) 18%, rgba(145,134,134,0.5) 70%); }
.daynight { position: relative; float: left; margin: 0px 5px 0px 5px; top: 5px; }
.effects { position: relative; float: left; margin: 0px 5px 0px 5px; top: 6px; }

/* BUILD ORDER */

.build-order { position: relative; float: left; top: 20px; clear: left; }
.build-order-content { position: relative; float: left; clear: left; margin-bottom: 5px; }
.build-order-box { background-image: url("../img/build-order/box.png"); width: 255px; height: 168px; position: relative; float: left; display: none; }
.build-order-tab { width: 23px; height: 53px; position: relative; float: left; cursor: pointer; }

.tab-build { background-image: url("../img/build-order/tab-build.png"); top: 10px; z-index: 2; }
.tab-build-click { top: 20px; }
.tab-research { background-image: url("../img/build-order/tab-research.png"); z-index: 1; }
.tab-research-click { top: 20px; }
.tab-training { background-image: url("../img/build-order/tab-training.png"); top: -10px; }
.tab-training2 { top: 0px; }
.tab-training-click { top: 20px; }

.order-info { position: relative; width: 220px; top: 10px; left: 18px; text-align: center; }
.name { font-size: 23px; color: #d4ae71; margin-right: 5px;  }
.status { font-size: 10px; color: #d5d5d5; }
.time { font-size: 10px; color: #d5d5d5; }
.order-progress-bar {  background-image: url("../img/build-order/progress-bar.png"); width: 130px; height: 8px; margin: 0 auto; }
.order-inner-progress-bar { position: relative; float: left; left: 14px; top: 3px; width: 103px; height: 2px; }
.order-inner-progress-bar div { position: relative; background-color: green; width: 50%; height: 2px; }

.order-content { position: relative; width: 220px; top: 15px; left: 18px; }
.order-content img { position: relative; float: left; }
.order-button { background-image: url("../img/build-order/button.png"); width: 116px; height: 27px; position: relative; float: right; margin-top: 10px; cursor: pointer; text-align: center; }
.order-button span { font-size: 18px; color: #d4ae71; position: relative; top: 3px; }

/* BOTTOM TOP */

.bottom-top { width: 100%;/*  height: 113px; */ position: absolute; bottom: 115px; }

.heroes { width: 132px; position: absolute; left: 0px; bottom: 0px; }
.hero-frame { background-image: url("../img/hero-window/hero-box.png"); width: 132px; height: 70px; position: relative; float: left; clear: left; margin-top: 5px; }
.hero-icon { background-image: url("../img/hero-window/hero-icon-1.png"); width: 46px; height: 65px; position: relative; float: left; }
.hero-name-title { position: relative; float: left; width: 70px; text-align: center; top: 10px; left: 4px; }
.hero-name { position: relative; color: #d4ae71; font-size: 14px; display: inline; }
.hero-title { position: relative; color: #d4ae71; font-size: 10px; top: -8px; }
.expirience { position: relative; float: left; left: 1px; }
.expirience span { position: relative; float: left; color: white; font-size: 9px; }
.exp-bar { background-image: url("../img/hero-window/exp-bar.png"); width: 71px; height: 8px; position: relative; float: left; clear: left; }
.exp-inner-bar { position: relative; float: left; left: 14px; top: 3px; width: 45px; height: 2px; }
.exp-inner-bar div { position: relative; background-color: green; width: 50%; height: 2px; }

.chat { position: absolute; right: 2px; top: auto!important; left: auto!important; bottom: 0px; background-color: rgba(26,0,0,0.7); min-width: 430px; max-width: 700px; width: 430px; min-height: 230px; max-height: 500px; height: 230px; }
.chat-bar-up { background-image: url("../img/chat-window/chat-bar-up.png"); position: relative; width: 100%; height: 28px; }

.chat-tab { position: relative; float: right; right: 20px; top: 3px; cursor: pointer; }
.chat-tab-l { background-image: url("../img/chat-window/chat-tab-l.png"); position: relative; float: left; width: 17px; height: 23px; }
.chat-tab-middle { background-image: url("../img/chat-window/chat-tab-middle.png"); position: relative; float: left; height: 23px; color: #d4ae71; line-height: 25px; }
.chat-tab-r { background-image: url("../img/chat-window/chat-tab-r.png"); position: relative; float: left; width: 9px; height: 23px; }

.chat-slider-bar { position: relative; float: right; width: 13px; height: calc(100% - 50px); }
.chat-slider-u { background-image: url("../img/chat-window/slider-bar-u.png"); width: 13px; height: 23px; float: left; clear: left; }
.chat-slider-middle { background-image: url("../img/chat-window/slider-bar-middle.png"); width: 9px; height: calc(100% - 47px); float: left; clear: left; position: relative; left: 2px; }
.chat-slider-d { background-image: url("../img/chat-window/slider-bar-d.png"); width: 13px; height: 23px; float: left; clear: left; }
.chat-slider { background-image: url("../img/chat-window/slider.png"); width: 14px; height: 11px; position: relative; left: -5px; }

.text-input { position: absolute; bottom: 0px; width: 100%; }
.text-input-middle { background-image: url("../img/chat-window/text-input-middle.png"); height: 22px; width: calc(100% - 45px); position: relative; float: right; color: white; text-align: right; border: 0px; display: block; outline: 0; }
.enter-button { background-image: url("../img/chat-window/enter.png"); width: 41px; height: 18px; position: absolute; left: 2px; top: 2px; cursor: pointer; }

/* BOTTOM */

.bottom { width: 100%;/*  height: 113px; */ position: absolute; bottom: 0px; display: table; }

.left-section { position: relative; float: left; width: 132px; height: 116px; }
.map-box { background-image: url("../img/map-box/map-box.png"); position: relative; float: left; width: 132px; height: 106px; top: 6px; }

.middle-section { height: 113px; overflow: hidden; position: relative; }
.right-section { background-image: url("../img/by-gold/frame.png"); position: relative; float: right; width: 133px; height: 106px; top: 5px; }
.right-section img { position: relative; margin: 0 auto; display: block; top: 24px; }
.ofdsaij { background-image: url("../img/by-gold/ofdsaij.png"); width: 83px; height: 4px; position: relative; margin: 0 auto; top: 15px; }
.of2 { top: 29px; }
.by-gold-text { background-image: url("../img/by-gold/by-gold-text.png"); width: 84px; height: 20px; position: relative; margin: 0 auto; top: 36px; }

.bot-bar { position: relative; float: left; width: 100%; top: 6px; }
.bot-bar-deco-l { background-image: url("../img/bottom-middle/bot-bar-deco-l.png"); width: 70px; height: 22px; float: left; }
.bot-bar-deco-r { background-image: url("../img/bottom-middle/bot-bar-deco-r.png"); width: 70px; height: 22px; float: right; }
.bot-bar-deco-middle { background-image: url("../img/bottom-middle/bot-bar-deco-middle.png"); height: 22px; }

.friends-tab { background-image: url("../img/bottom-middle/friends-tab.png"); width: 50px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; }
.alliance-tab { background-image: url("../img/bottom-middle/alliance-tab.png"); width: 50px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; left: -5px; }
.build-tab { background-image: url("../img/bottom-middle/build-tab.png"); width: 50px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; }
.inventory-tab { background-image: url("../img/bottom-middle/inventory-tab.png"); width: 50px; height: 23px; position: relative; float: left; top: 4px; cursor: pointer; right: -5px; }
 
.bot-bar-deco-name { position: relative; margin:0 auto; top: -7px; display: table; height: 147px; width: auto; }
.bot-bar-deco-name-left { background-image: url("../img/bottom-middle/bot-bar-deco-name-left.png"); width: 25px; height: 28px; float: left; }
.bot-bar-deco-name-middle { background-image: url("../img/bottom-middle/bot-bar-deco-name-middle.png"); line-height: 28px; color: white; width: 105px; font-size: 15px; position: relative; float: left; text-align: center; }
.bot-bar-deco-name-right { background-image: url("../img/bottom-middle/bot-bar-deco-name-right.png"); width: 25px; height: 28px; float: left; }

.friends { background-image: url("../img/bottom-middle/friends-frame-bg.png"); }
.buildings { background-image: url("../img/bottom-middle/friends-frame-bg.png"); display: none; }
.img-frame { position: relative; margin: 0px 2px 0px 2px; top: -2px; display: inline; }
.frame-bg { width: 100%; height: 74px; position: relative; top: 6px; overflow: hidden; white-space: nowrap; }

.slider-bar { position: relative; float: left; width: 100%; top: 6px; }
.slider-bar-l { background-image: url("../img/bottom-middle/slider-bar-l.png"); width: 23px; height: 13px; float: left; }
.slider-bar-r { background-image: url("../img/bottom-middle/slider-bar-r.png"); width: 23px; height: 13px; float: right; }
.slider-bar-middle { background-image: url("../img/bottom-middle/slider-bar-middle.png"); height: 9px; position: relative; overflow: hidden; top: 2px; }
.slider { background-image: url("../img/bottom-middle/slider.png"); width: 11px; height: 14px; position: relative; }

