html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background-color: #4D5C52;*/
}


/*
.rounded {
    bottom: -8px;
    margin-left: 10px;
    position: relative;
    opacity: 1.0;
    z-index: inherit;
    float: left;
    height: 20px;
    padding: 2px 2px 2px 2px;
    width: 75px;
    border-radius: 3px;
    color: white;
    background: DarkSlateGray;
}
*/
/* .menu-container {
    display: block;
    text-align: center;
} 

.rounded:hover {
    background-color: green;
}

.hud {
    text-align: center;
    display: block;
    z-index: 100;
    position: relative;
    left: 50%;
    margin-left: -225px;
    bottom: -10px;
    border-radius: 5px;
    background-color: rgba(124, 98, 122, 0.8); 
    width: 500px;
    height: 40px;
}
*/

.renderspace {
    display: block;
    width: 100%;
    height: 480px;
    margin: 0px auto;
    padding: 0;
    position: relative;
}

.renderspace canvas {
    z-index: 1000;
    position: absolute;
    background: transparent;
}

.domlayer {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 2000;
}

.viewport {
    position: absolute;
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.grid {
    height: 100%;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-1-4']:after {
    height: 100%;
}

[class*='col-1-2']:last-of-type {
    padding-right: 0;
}

.col-auto {
    width: auto;
}

fieldset {
    /*border-radius: 6px;*/
    /*border-color: #FF7F50;*/
    background-color: #3BA369;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(56%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));*/
}

legend {
    font-family: "Gudea", sans-serif;
    font-size: 1em;
    background-color: #6FB267;
    color: white;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
    /*border: 1px solid #FF7F50;*/
}

.legend-list {
    font-family: "Gudea", sans-serif;
    font-size: 1em;
    background-color: #6FB267;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    float: left;
}

/*legend:hover {
    border: 1px solid green;
}*/

.col-1-4 {
  width: 25%;
  display: block;
  height: 100%;
}

.bottom-col {
    margin-left: -5px;
}

.col-1-2 {
  width: 50%;
  padding-top: 20px;
  display: block;
}

[class*='col-1-4'] {
    height: 100%;
}

[class*='col-'] {
    float:left;
}

/*
.fpsbox {
    position: relative;
    right: 20px;
    top: 40px;
    display: block;
    margin-top:-20px;
    float: right;
    z-index: 1000;
    font-family: "Courier";
    font-size: 0.8em;
    color: white;
    background-color: rgba(124, 98, 122, 0.5);
}
*/


.selectable { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    overflow-y: auto;
    height: 150px;
    min-width: -webkit-min-content;
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(56%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));*/
}

 ::-webkit-scrollbar {
      width: 10px;
} 

::-webkit-scrollbar-track {
      background-color: SandyBrown;
}

::-webkit-scrollbar-thumb {
      background-color: #696969;

}

::-webkit-scrollbar-corner {
      background-color: black;
}

.animation-track {
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
}

.bottom-container {
    display: inline-block;
    background-color: #3BA369;
    width: 100%;
    height: 100%;
}

.selectable .animation-frame {
    width: 30px;
    height: 30px;
}

.clipwrapper { 
    position: relative; 
    margin: 0px auto;
    overflow: hidden;
    display: block;
}

.md-modal {
    position: absolute;
    width: 150px;
    height: 50px;
}

#tabbed-box { 
    position: relative; 
    width: 100%; 
}

#box-links { 
    list-style: none; 
    overflow: hidden; 
    padding-left: 0px;  
    display: table;
 }

#box-links li {  
    background-color: #36975D;
    display: inline-block; 
    margin-right: 15px;
}

#box-links li a { 
    font-family: "Gudea", sans-serif;
    font-size: 0.78em;
    padding: 4px 10px; 
    text-decoration: none; 
    font-style: underline;
    color: #fff; 
    border: 1px solid #ccc;
    border-width: 0px 0px 1px 0px;
    float: left; 
    display: block; 
    margin-left: -1px; 
    position: relative; 
    left: 1px; 
}

#box-links li a:hover { 
    background-color: #7DBE85
}

.active { background-color: #7DBE85; }

/*#box { height: 250px; border: 1px solid #ccc; overflow: hidden; padding: 0px 30px 0px 30px; position: relative; top: -1px; }
.box { display: none; height: 250px; overflow: auto; display: block; position: relative; overflow-x: hidden; }
#box1:target, #box2:target, #box3:target { display: block; }*/

.box {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    border: 1px solid green;
}