.dugmic {
    float: left;
    position: relative;
    background-color: SandyBrown;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: table-cell;
    margin-right: 10px;
    cursor: pointer;
}

.dugmic-span:before {
    position: absolute;
    content: "+";
    text-align: center;
    vertical-align: middle;
    -webkit-transform: translate(0px, -12px);
}

#new-list-btn {
    background-color: #696969;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

input {   
    display: inline-block;
    float: left;
}

select {
    display: inline-block;
    float: left;
}

.sprite-placeholder {
    display: inline-block;
    float: left;
}

input.text { margin-bottom:12px; width:60%; padding-left: .4em; }

/* dirty fix */
.ui-front {
    z-index:1000000 !important; /* The default is 100. !important overrides the default. */
}

.modal-dialog {
    z-index: 1000000;
    display:none;
}

.sprite-menu {
    display: none;
}

/* minigrid styles */
.minigrid {
    position: relative;
    display: table-cell;
    border: 1px solid #fff;
    border-width: 1px 0 0 1px;
    -webkit-transform: scaleY(0.5) rotate(45deg);
}

.minigrid-wrapper {
    display: inline-block;
    /*background-color: white;*/
}

.minigrid div {
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    float: left;
}

.minigrid-active-cell {
    background-color: white;
}

.keyval-wrapper {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.sprite-box {
    background-color: #fff;
}

.selectable li { 
    position: relative;
    margin: 3px; 
    float: left;
    width: 60px; 
    height: 60px; 
    font-size: 0.7em; 
}

.selectable li > img { 
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}

.selectable-title {
    font-family: "Gudea", sans-serif;
    position: absolute;
    width: inherit;
    height: 25%;
    display: block;
    text-align: center;
    font-size: 0.9em;   
}

.map-list {
    
}

.code-area {
   font-family: courier !important;
   font-size: 0.7em !important;
   height: 90%;
   width: 100%;
}

.modal-dialog-code fieldset {
    height: 100%;
}

.modal-dialog-code {
    z-index: 1000000;
    display:none;
}